.text-centered{
	text-align:center;
}
.text-left{
	text-align:left;
}
.link{
	color:#0066cc;
	text-decoration:none;
	font-weight:bold;
}
.fleft{
	float:left;
}

.mtop10{
	margin-top:10px;
}

.mtopm10{
	margin-top:-10px;
}
.padding10{
	padding-top:10px;
	padding-right:10px;
	padding-left:10px;
}

.user-pic{
	width:20%;
}
.user-bio{
	width:80%;
}
.user-bio h3{
	margin-top: 0px;
}
.user-30{
	width:30%;
}
.user-70{
	width:70%;
}
.row {
  zoom: 1;
}
.row:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.tag{
	font-size:90%;
	font-weight:normal;
	background-color:#ccc;
	border-bottom:1px solid #808080;
	border-right:2px solid #808080;
	padding:3px;
	margin-bottom:5px;
	display: inline-block;
}

.main-logo {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -125px;
}

div.ui-body-c {
	background: url('../images/black_wood.png');
}
