.text-centered{
	text-align:center;
}
.link{
	color:#0066cc;
	text-decoration:none;
	font-weight:bold;
}
.fleft{
	float:lef;
}

.mtop10{
	margin-top:10px;
}


.main-logo {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -30px;
	margin-left: -125px;
}