#{extends 'main.html' /}
#{set title:'Who is here' /}
<div class="content-primary main-logo">
	<div class="text-centered">
		<img src="@{'/public/images/logo.png'}"/>
	</div>
	<a href="@@{Application.doLogin()}" id="login" data-role="button" data-ajax="false" data-theme="b">Login with Foursquare!</a>
</div>

#{set 'moreScripts'}
<script src="@{'/public/javascripts/geo-min.js'}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
if(geo_position_js.init()){
	geo_position_js.getCurrentPosition(success_callback,error_callback,{enableHighAccuracy:true,options:5000});
}
else{
	alert("Functionality not available");
}

function success_callback(p) {
	$('#login').attr('href', '@@{Application.doLogin()}'+ '?latitude=' + p.coords.latitude.toFixed(2) + '&longitude=' + p.coords.longitude.toFixed(2));
}

function error_callback(p) {
	alert('error='+p.message);
}
</script>
#{/set}
