#{extends 'main.html' /}
#{set title:'Who is here' /}
<div class="content-primary main-logo">
	<div class="text-centered">
		<img src="@{'/public/images/logo.png'}" />
	</div>
	<a href="#" id="login" data-role="button" data-ajax="false">Login with foursquare!</a>
</div>

#{set 'moreScripts'}
<script type="text/javascript" charset="utf-8">
var latitude = 0;
var longitude = 0;
navigator.geolocation.getCurrentPosition(showMap);

function showMap(position) {
	latitude = position.coords.latitude;
	longitude = position.coords.longitude;
	$('#login').attr('href', '@@{Application.doLogin()}'+ '?latitude=' + latitude + '&longitude=' + longitude);
}
</script>
#{/set}
