#{extends 'main.html' /}
#{set title:'Who is here' /}
<div class="text-centered" data-role="header" data-position="fixed">
	<a data-theme="a" data-direction="reverse" data-rel="back" data-icon="back">Places</a>
	<img src="@{'/public/images/logo.png'}" height="40px" width="100px">
</div>
<div data-role="header" data-theme="d" data-position="fixed">
	<h1>Who is here</h1>
</div>
<div class="content-primary">
	*{FRIENDS}*
	<ul data-role="listview">
		#{list items:peopleHere, as:'person'}
		<li>
			<a href="@@{Application.showUser(person.id)}" data-transition="slide">
				<div class="row">
					<div class="user-pic fleft">
						<img src="${person.photoUrl}" width="40px">
					</div>
					<div class="user-bio fleft">
						<h3>${person.firstName} ${person.lastName}</h3>
						<p>${person.bio}</p>
						<div>
							#{list items:person.services.keys(), as:'service'}
								<img src="${request.getBase()}/public/images/logos/${service}.png" alt="${service}" height="20px" width="20px">
							#{/list}
						</div>
						*{<div>
							<span class="tag">co-founder</span>
							<span class="tag">co-founder</span>
						</div>}*
					</div>
				</div>
			</a>
		</li>
		#{/list}
	</ul>
</div><!--/content-primary -->