#{extends 'main.html' /}
#{set title:'Who is here' /}
<div class="text-centered" data-role="header" data-position="fixed">
	<a href="index.html" data-role="button" data-theme="a" data-icon="back" data-transition="slide">Places</a>
	<img src="@{'/public/images/logo.png'}" height="40px" width="100px">
</div>
<div data-role="header" data-theme="d" data-position="fixed">
	<h1>Who is here</h1>
</div>
<div class="content-primary">
	*{FRIENDS}*
	<ul data-role="listview">
		#{list items:peopleHere.people, as:'person'}
		<li>
			<a href="index.html" data-transition="slide">
				<div class="row">
					<div class="user-pic fleft">
						<img src="${person.photo.str()}" width="40px">
					</div>
					<div class="user-bio fleft">
						<h3>${person.firstName.str()} ${person.lastName.str()}</h3>
						<p>${person.bio.str()}</p>
						<div>
							<img src="@{'/public/images/logos/twitter.png'}" alt="" height="20px" width="20px">
							<img src="@{'/public/images/logos/linkedin.png'}" alt="" height="20px" width="20px">
							<img src="@{'/public/images/logos/facebook.png'}" alt="" height="20px" width="20px">
						</div>
						<div>
							<span class="tag">co-founder</span>
							<span class="tag">co-founder</span>
						</div>
					</div>
				</div>
			</a>
		</li>
		#{/list}
	</ul>
</div><!--/content-primary -->