#{extends 'main.html' /}
#{set title:'Places' /}


<div class="text-centered" data-role="header">
	<a href="index.html" data-role="button" data-theme="a" data-icon="back" data-transition="slide">People</a>
	<img src="@{'/public/images/logo.png'}" height="40px" width="100px">
</div>
<div data-role="header" data-theme="d">
	<h1>User Name</h1>
</div>
<div class="content-primary">
	<div class="row padding10">
		<div class="user-30 fleft">
			<img src="" alt="" width="80px" height="80px">
		</div>
		<div class="user-70 fleft">
			<div>Esto es una bio. Esto es una bio. Esto es una bio. Esto es una bio. Esto es una bio. Esto es una bio. Esto es una bio. Esto es una bio. Esto es una bio. Esto e.</div>
			*{Si no tiene bio
			<div>
				<strong>Name User</strong>
			<div>
			<div class="mtop10">
				<a href=""><img src="@{'/public/images/logos/twitter.png'}" alt="" height="30px" width="30px"></a>
				<a href=""><img src="@{'/public/images/logos/linkedin.png'}" alt="" height="30px" width="30px"></a>
				<a href=""><img src="@{'/public/images/logos/facebook.png'}" alt="" height="30px" width="30px"></a>
			</div>
			}*
		</div>
	</div>
	<div class="row padding10">
		<div>
			<span class="tag">co-founder</span>
			<span class="tag">angelList</span>
			<span class="tag">developer</span>
			<span class="tag">business</span>
			<span class="tag">co-founder</span>
			<span class="tag">co-founder</span>
			<span class="tag">co-founder</span>
			<span class="tag">co-founder</span>
		</div>
	</div>
	*{Si no tiene bio, no deben salir aquí}*
	<div class="row padding10">
		<a href=""><img src="@{'/public/images/logos/twitter.png'}" alt="" height="30px" width="30px"></a>
		<a href=""><img src="@{'/public/images/logos/klout.png'}" alt="" height="30px" width="30px"></a>
		<a href=""><img src="@{'/public/images/logos/facebook.png'}" alt="" height="30px" width="30px"></a>
		<a href=""><img src="@{'/public/images/logos/linkedin.png'}" alt="" height="30px" width="30px"></a>
		<a href=""><img src="@{'/public/images/logos/github.png'}" alt="" height="30px" width="30px"></a>
		<a href=""><img src="@{'/public/images/logos/foursquare.png'}" alt="" height="30px" width="30px"></a>
	</div>
</div>
