#{extends 'main.html' /}


<div class="text-centered" data-role="header">
	<a data-theme="a" data-direction="reverse" data-rel="back" data-icon="back">People</a>
	<img src="@{'/public/images/logo.png'}" height="40px" width="100px">
</div>
<div data-role="header" data-theme="d">
	<h1>${user.firstName} ${user.lastName}</h1>
</div>
<div class="content-primary">
	<div class="row padding10">
		<div class="user-30 fleft">
			<img src="${user.photoUrl}" alt="" width="80px" height="80px">
		</div>
		<div class="user-70 fleft">
			#{if user.bio}
			<div> ${user.bio}</div>
			#{/if}
			#{else}
			<div>
				<strong>${user.firstName} ${user.lastName}</strong>
			<div>
			<div class="mtop10">
			#{list items:user.services.keys(), as:'service'}
				<a href="${user.services.get(service).url.str()}"><img src="${request.getBase()}/public/images/logos/${service}.png" alt="${service}" height="30px" width="30px"></a>
			#{/list}
			</div>
			#{/else}
		</div>
	</div>
	*{<div class="row padding10">
		<div>
			<span class="tag">co-founder</span>
			<span class="tag">angelList</span>
			<span class="tag">developer</span>
			<span class="tag">business</span>
			<span class="tag">co-founder</span>
			<span class="tag">co-founder</span>
			<span class="tag">co-founder</span>
			<span class="tag">co-founder</span>
		</div>
	</div>}*
	#{if user.bio}
	<div class="row padding10">
		#{list items:user.services.keys(), as:'service'}
			<a href="${user.services.get(service).url.str()}"><img src="${request.getBase()}/public/images/logos/${service}.png" alt="${service}" height="30px" width="30px"></a>
		#{/list}
	</div>
	#{/if}
</div>
