<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/jquery.mobile-1.0b3.css'}">
		<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
		<script src="@{'/public/javascripts/jquery-1.6.2.min.js'}"></script> 
        <script src="@{'/public/javascripts/jquery.mobile-1.0b3.min.js'}" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
  			var _gaq = _gaq || [];
  			_gaq.push(['_setAccount', 'UA-25652671-1']);
  			_gaq.push(['_trackPageview']);
			(function() {
    			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  			})();
		</script>
		
        #{get 'moreScripts' /}
    </head>
    <body #{if index}class="body-index"#{/if}>
        #{doLayout /}
		<script type="text/javascript">try{ clicky.init(66476959); }catch(e){}</script>
    </body>
</html>
